spring:
  datasource:
    url: jdbc:mysql://localhost:3306/news?serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    static-path-pattern: /**

  thymeleaf:
    servlet:
      content-type: text/html
    encoding: UTF-8
    suffix: .html
    prefix: classpath:/templates/

#  resources:
#    static-locations: classpath:/static/

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.news.dao
  configuration:
    map-underscore-to-camel-case: true

