<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.news.mapper.AdminMapper">
    <!--按名字查询-->
    <select id="findAdminByName" resultType="com.example.news.dao.Admin">
        select * from admin where admin_name = #{adminName}
    </select>

    <!--根据id查询-->
    <select id="findAdminById" resultType="com.example.news.dao.Admin">
        select * from admin where admin_id = #{adminId}
    </select>

    <!--查询全部-->
    <select id="findAllAdmin" resultType="com.example.news.dao.Admin">
        select * from admin
    </select>

    <select id="findAdminFuzzyByName" resultType="com.example.news.dao.Admin">
        select * from admin where admin_name like '%${name}%'
    </select>

    <insert id="addAdmin" parameterType="com.example.news.dao.Admin">
        insert into admin (admin_name, admin_contact, admin_password,admin_type) values (#{adminName},#{adminContact},#{adminPassword},#{adminType})
    </insert>

    <delete id="deleteAdmin" >
        delete from admin where admin_name =  #{adminName}
    </delete>

    <update id="updateAdmin" parameterType="com.example.news.dao.Admin">
        update admin set admin_name = #{adminName},admin_contact = #{adminContact}, admin_password = #{adminPassword},admin_type = #{adminType}
        where admin_id = #{adminId}
    </update>
</mapper>