<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.news.mapper.NewsColumnMapper">
    <select id="findAllColumn" resultType="com.example.news.dao.Column">
        select * from `column`
    </select>

    <insert id="addColumn" parameterType="com.example.news.dao.Column">
        insert into `column` (column_name) values (#{columnName})
    </insert>

    <delete id="deleteColumn" >
        delete from `column` where column_name = #{columnName}
    </delete>
</mapper>