<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.news.mapper.NewsMapper">

    <select id="findAllNews" resultType="com.example.news.dao.News">
        select * from News
    </select>

    <select id="findNewsByTitle" resultType="com.example.news.dao.News" >
        select * from News where news_title = #{newsTitle}
    </select>


    <delete id="deleteNews">
        delete from news where news_title = #{newsTitle}
    </delete>

    <update id="updateNews" parameterType="com.example.news.dao.News">
        update news set news_title = #{newsTitle},news_sum = #{newsSum},news_source = #{newsSource},news_content = #{newsContent} where news_title = #{newsTitle}
    </update>

    <insert id="insertNews" parameterType="com.example.news.dao.News">
        insert into news (news_title, news_sum, news_source, public_time, news_content, news_format_id, colume_id,
                          news_creator_id, public_state_id)
        values (#{newsTitle},#{newsSum},#{newsSource},#{publicTime},#{newsContent},
                #{newsFormatId},#{columnId},#{newsCreatorId},#{publicStateId})
    </insert>

</mapper>